@import "../styles/globals.css";

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
    transition: none !important;
  }
}
